#CLang Format

BasedOnStyle: LLVM

Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

BreakBeforeBraces: Allman

NamespaceIndentation: All
IndentCaseLabels: true

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: false

Cpp11BracedListStyle: true
SeparateDefinitionBlocks: Always
